<a href="https://colab.research.google.com/github/chloepei867/cs6220-sp2024-assignments/blob/main/%E2%80%9CAssignment_1_Zhiyan_Pei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title Download the data from website
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/movie_titles.csv
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/qualifying.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_1.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_2.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_3.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_4.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/basket_data.csv


from IPython.display import clear_output
clear_output()

print("Data in combined_data_1.txt looks like this: \n")
!head -5 combined_data_1.txt

print("\n\nData in movie_titles.csv looks like this: \n")
!head -5 movie_titles.csv

print("\n\nData in basket_data.csv looks like this: \n")
!head -5 basket_data.csv

Data in combined_data_1.txt looks like this:

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26


Data in movie_titles.csv looks like this:

1,2003,Dinosaur Planet
2,2004,Isle of Man TT 2004 Review
3,1997,Character
4,1994,Paula Abdul's Get Up & Dance
5,2004,The Rise and Fall of ECW


Data in basket_data.csv looks like this:

ketchup, butter, diapers
bread, diapers, ketchup
butter, bread, ketchup
diapers, butter
ketchup, butter, diapers, beer

In [35]:
f = open("movie_titles.csv", encoding ="cp1252")
data_lines = open("combined_data_1.txt", "r").readlines()

In [2]:
# 1. Function: cardinality_items(filename)
import csv
def cardinality_items( filename ):
  unique_item_sets = set()
  with open(filename, "r") as csv_file:
    csv_reader = csv.reader(csv_file);
    for line in csv_reader:
      for item in line:
        unique_item_sets.add(item)
  return len(unique_item_sets)

In [4]:
#The cardinality of "basket_data.csv" is 27.
cardinality_items("basket_data.csv")

27

In [5]:
# 2. Function: all_itemsets()
def all_itemsets(items, k):
  res = []
  def dfs(items, k, start_index, cur_set):
    if k == 0:
      res.append(cur_set[:])
      return
    if start_index >= len(items):
      return
    for i in range(start_index, len(items)):
      cur_set.append(items[i])
      dfs(items, k-1, i+1, cur_set)
      cur_set.pop()
  dfs(items, k, 0, [])
  return res

In [6]:
all_itemsets(["ham", "cheese", "bread", "yoghurt", "beer"], 2)

[['ham', 'cheese'],
 ['ham', 'bread'],
 ['ham', 'yoghurt'],
 ['ham', 'beer'],
 ['cheese', 'bread'],
 ['cheese', 'yoghurt'],
 ['cheese', 'beer'],
 ['bread', 'yoghurt'],
 ['bread', 'beer'],
 ['yoghurt', 'beer']]

Examining Our First Dataset

In [9]:
# 3-(a): Total number of records of movie ratings: 100,480,507
def count_rating_records(filename):
  data_lines = open(filename, "r").readlines()
  return sum(1 for line in data_lines  if not line.strip().endswith(':'))

In [10]:
count_rating_records("combined_data_1.txt") + count_rating_records("combined_data_2.txt") + count_rating_records("combined_data_3.txt") + count_rating_records("combined_data_4.txt")

100480507

In [12]:
# 3-(b): Total number of unique users in the entire dataset: 480,189
def count_unique_users():
  unique_user_sets = set()
  for i in range(1, 5):
    filename = "combined_data_" + str(i) + ".txt"
    data_lines = open(filename, "r").readlines()
    for line in data_lines:
      line = line.strip()
      if not line.endswith(':'):
        data = line.split(',')
        user_id = data[0].strip()
        unique_user_sets.add(user_id)
  return len(unique_user_sets)
count_unique_users()

480189

In [26]:
# 3-(c): the range of years that this data is valid over 1999 to 2005.
def calculate_year_range():
  min_year = -1
  max_year = -1
  for i in range(1, 5):
    filename = "combined_data_" + str(i) + ".txt"
    with open(filename, "r") as file:
      for line in file:
        if line.find(':') == -1:
          line = line.split(",")
          if len(line) >= 3:
            date = line[2]
            year = date.split("-")[0]
            if min_year == -1 or int(min_year) > int(year):
              min_year = year
            if max_year == -1 or int(max_year) < int(year):
              max_year = year
  list = [min_year, max_year]
  return list

In [27]:
calculate_year_range()

['1999', '2005']

In [30]:
# 4-(a) count the distinct names of the movies
# Answer: 17026 movies with unique names.
def count_movies():
  unique_movie_title_sets = set()
  with open("movie_titles.csv", encoding ="cp1252") as file:
    csv_reader = csv.reader(file)
    for line in csv_reader:
      if len(line) == 3:
        unique_movie_title_sets.add(line[2])
  return len(unique_movie_title_sets)
count_movies()

17026

In [ ]:
#4-(b)

In [35]:
#5-(a): 605 users rated exactly 200 movies.
# the lowest user id is 6.
map = {}
lowest_user_id = "2649429"
for i in range(1, 5):
  filename = "combined_data_" + str(i) + ".txt"
  data_lines = open(filename, "r").readlines()
  for line in data_lines:
    line = line.strip()
    if not line.endswith(':'):
      data = line.split(',')
      user_id = data[0].strip()
      if int(lowest_user_id) > int(user_id):
        lowest_user_id = user_id
      map[user_id] = map.get(user_id, 0) + 1
count_users = 0
for k, v in map.items():
  if v == 200:
    count_users += 1
print(count_users)
print(len(map))
print(lowest_user_id)

605
480189
6

In [36]:
# 5-(b)
favorite_movies_id = set()
for i in range(1, 5):
  filename = "combined_data_" + str(i) + ".txt"
  data_lines = open(filename, "r").readlines()
  current_movie_id = None
  for line in data_lines:
    line = line.strip()
    if line.endswith(':'):
      current_movie_id = line[:-1].strip()
    elif line:
      data = line.split(',')
      if len(data) >= 3:
        user_id = data[0].strip()
        rating = data[1].strip()
        if user_id == "6" and rating == "5":
          favorite_movies_id.add(current_movie_id)

favorite_movies_title = set()
with open("movie_titles.csv", encoding ="cp1252") as file:
    csv_reader = csv.reader(file)
    for line in csv_reader:
      if len(line) == 3:
        movie_id = line[0]
        movie_title = line[2]
        if movie_id in favorite_movies_id:
          favorite_movies_title.add(movie_title)
print(favorite_movies_title)

{'Harry Potter and the Chamber of Secrets', 'Eddie Izzard: Dress to Kill', 'Gangs of New York', "Harry Potter and the Sorcerer's Stone", 'High Plains Drifter', 'Three Musketeers', 'Harry Potter and the Prisoner of Azkaban', 'Signs', 'Kill Bill: Vol. 2', '54', "All the President's Men", 'Lord of the Rings: The Return of the King', 'Shrek (Full-screen)', 'Fleetwood Mac: The Dance', 'GoodFellas: Special Edition', 'Lord of the Rings: The Fellowship of the Ring', 'Pale Rider', 'Platoon', 'Ray', 'Star Wars: Episode VI: Return of the Jedi', 'Star Wars: Episode I: The Phantom Menace', 'Lord of the Rings: The Return of the King: Extended Edition', 'Gladiator', 'Mister Roberts', 'Apocalypse Now', 'Lord of the Rings: The Two Towers: Extended Edition', 'The Lord of the Rings: The Fellowship of the Ring: Extended Edition', 'Apollo 13', 'Independence Day', 'Men in Black', 'Remember the Titans', 'Snatch', "In Harm's Way", 'The Incredibles', 'Band of Brothers', 'Pearl Harbor', 'The Doors', 'American Pie', 'The Bourne Supremacy', 'Lord of the Rings: The Two Towers', '12 Monkeys', 'Star Wars: Episode IV: A New Hope', 'Reservoir Dogs', 'Memphis Belle', 'The Bourne Identity', 'Pulp Fiction', 'The Godfather', 'Braveheart', 'Gandhi', 'A River Runs Through It', 'The Hunt for Red October', 'Robin Williams: Live on Broadway', 'The Fifth Element', 'Kill Bill: Vol. 1'}